@model List<ProductViewModel>


@foreach (var urun in Model)
{
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a href="product-page(no-sidebar).html">
                    <img src="@urun.HeaderImageUrl" @*alt="@urun.Name" title="@urun.Name*@
                         class="img-fluid blur-up lazyload bg-img">
                </a>
            </div>
            <div class="cart-info cart-wrap">
                <button data-bs-toggle="modal" data-bs-target="#addtocart"
                        title="Add to cart">
                    <i class="ti-shopping-cart"></i>
                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                    <i class="ti-heart" aria-hidden="true"></i>
                </a> <a href="#"
                        data-bs-toggle="modal" data-bs-target="#quick-view"
                        title="Quick View">
                    <i class="ti-search"
                       aria-hidden="true"></i>
                </a> <a href="compare.html"
                        title="Compare">
                    <i class="ti-reload"
                       aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="details-product">
            <a href="product-page(no-sidebar).html">
                <h6>@urun.Title</h6>
            </a>
            <h4>@urun.Price</h4>
        </div>

    </div>
}